

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

/* ダイアログ本体 */
.Dialog-Area {
  position: fixed;
  display: flex;
  flex-direction: column; /* 上から下に要素を配置 */
  justify-content: space-between; /* 上部と下部にスペースを配置 */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 900px;
  max-height: calc(100vh - 60px); /* 高さ制限を設定 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 100;
}

.Time-set{
  display: flex;
  justify-content: center;
  align-items: center;
}


