.login-window {
  height: 100dvh;
  width: 100dvw;

  justify-items: center;
}

.login-BG {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.login-title {
  margin: 0;
}



.loginInput {
  margin: 5px;
  padding: 5px;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: #fff;
}

.buttonUnderlineSt {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #222;
  border-radius: 20px;
  border:1px solid #1B85FB;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 10px 15px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.buttonUnderlineSt:hover {
  color: #fff;
  border:1px solid #1B85FB;
  background-color: #1B85FB;
}

.buttonUnderlineSt:active {
  transform: scale(0.9);
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, .5);
}